*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
body{
    display: flex;
    justify-content: center;
    background-color: #302e2f;
    
}
header{
    
    display: flex;
    justify-content: center;
    padding: 90px 0; 
    
}

section{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 0 70px;
}
.container_textareas{
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    
}
.box_textareas{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.textarea{
    
    height: 400px;
    background-color: #d7e8d5;
    padding: 7px;
    font-size: 22px;
}

.box_key_button{
    display: flex;
    justify-content: space-between;

}

.input-key{
    width: 310px;
    height: 60px;
    border: 2px solid #d7e8d5;
    box-shadow: 0px 0px 5px 0px #556a52;
    padding: 5px;
    font-size: 25px;
    background-color: #d7e8d5;
    border-radius: 14px 0 14px 0;
 
}

.buttons{
    width: 310px;
    height: 60px;
    background-color: #ffe261;
    border-radius: 14px 0 14px 0;
    border: none;
    
    font-weight: 500px;
    font-size: 25px;
    text-transform:uppercase;
    font-weight: 700;
}
.buttons:hover{
    box-shadow: 0 0 5px 0 #d7e8d5;
}
.buttons:active{
    opacity: .8;
}
h1{
    color: #ffe261;
    font-weight: 100;
    font-size: 150px;
    letter-spacing: 3px;
}
p{
    color: #d7e8d5;
    text-align: center;
    font-size: 35px;
}
label{
    color: #ffe261;
    font-size: 30px;
}
footer{
    margin: 50px 0;
    background-color: #d7e8d5;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}
footer img{
    width: 40px;
}

@media(min-width: 900px){
    .container_textareas{
        
        flex-direction:row;
        gap: 50px;
        align-items: center;
        justify-content: center;
        
    }
    .textarea{
    
        height: 400px;
        width: 600px;
        background-color: #d7e8d5;
        padding: 7px;
        font-size: 22px;
    }
    .input-key{
        width: 270px;
       
     
    }
    
    .buttons{
        width: 270px;
        font-size: 20px;
    }
}